.App {
  text-align: center;
}
body{
  background-image: url('./assets/images/wars7.jpg');
  background-position: center;
  background-attachment: fixed;
}

.card{
  width: auto;
  margin: 20px;
  opacity: 0.7;
}